@using RaftShared;
@using RaftWeb.Services;
@inject RaftService service;
@inject QuantityConverter converter;
@namespace RaftWeb.Pages

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">@Product.Name</h5>
    <p class="card-text">Cost: @Product.Cost</p>
    <p class="card-text">Quantity: @(Product.Quantity == null ? "N/A" : Product.Quantity)</p>
    <button class="btn btn-primary" @onclick="IncreaseQuantity">Increase</button>
    <button class="btn btn-secondary" @onclick="DecreaseQuantity">Decrease</button>
  </div>
</div>

@code {
  [Parameter]
  public Product Product { get; set; }
  private Data lastData;
  private string stockKey = "stock-of-";

  protected override async Task OnInitializedAsync()
  {
    await LoadQuantity();
  }

  private string GetKey()
  {
    return stockKey + Product.Name.Replace(' ', '-');
  }

  private async Task LoadQuantity()
  {
    var result = await service.StrongGet(GetKey());
    lastData = result;
    if (lastData.Value == "")
    {
      lastData.Value = "None";
    }
    if (result.LogIndex == -1)
    {
      Product.Quantity = null;
    }
    else
    {
      Product.Quantity = converter.JsonToQuantity(result.Value);
    }
    StateHasChanged();
  }

  private async Task IncreaseQuantity()
  {
    var newQuantity = converter.QuantityToJson((Product.Quantity ?? 0) + 1);
    await service.TryUpdate(GetKey(), lastData.Value, newQuantity, lastData.LogIndex);
    await LoadQuantity();
  }

  private async Task DecreaseQuantity()
  {
    var newQuantity = converter.QuantityToJson((Product.Quantity ?? 0) - 1);
    await service.TryUpdate(GetKey(), lastData.Value, newQuantity, lastData.LogIndex);
    await LoadQuantity();
  }

}