@using RaftWeb.Services;
@using RaftShared;
@using RaftWeb.Pages;
@inject RaftService service;
@page "/products"

<PageTitle>Product Management</PageTitle>

<h1>Products</h1>

@if (products != null)
{
    foreach (var product in products)
    {
        <ProductItem Product="product" />
    }
}

@code {
    private string stockKey = "stock-of-";
    private List<Product> products = new List<Product>
{
new Product { Name = "Product 1", Cost = 1.00m },
new Product { Name = "Product 2", Cost = 1.00m },
new Product { Name = "Product 3", Cost = 1.00m },
new Product { Name = "Product 4", Cost = 1.00m },
new Product { Name = "Product 5", Cost = 1.00m }
};
}
